body{
    background: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:1vh 2vw 0 2vh;
}
 .row5{
    display: grid;
    grid-template-columns:repeat(4,25%);
    margin-left: 8vw;
    margin-top: 1vh;
}
.grad1 img,.grad2 img,.grad3 img,.grad4 img,.grad5 img,.grad6 img{
    width:10vw;
    height:20vh;
    border: orange 2px solid ;
    display: block;
    margin-top: 10px;
}
.talent .data{
    background: brown;
    color: white;
    text-align: center;
    font-size: 3vw;
}

p{
    margin:0;
    line-height: 1.5em;
}
.row5  .clg{
    color: blue;
    font-size: 1.6vw;
}
.row5  .name{
    color: purple;
    font-size: 2vw;
}
.row5  .parent{
    color: brown;
    font-size:2vw;
}
.row6{
    display:grid;
    grid-template-columns:50% 50%;
     background: #A3E817;
     margin-top: 10px;
     overflow-x: hidden;

}
.marriage .data{
    background: brown;
    color: white;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 1%;

}
.row6 img{
    widows:80vw;
    height:80vh;
    border:palevioletred 3px solid ;
    display: block;
}
.row6 .details{
    text-align: center;
}
.row6 .name{
    font-size:2vw;
    font-style: italic;
    color:#160360;
}
.footer{
    text-align: center;
}